<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.encore_spring_pjt.mapper.BoardMapper"> 
    <!-- comment -->
    <sql id="insertColumns">
        title       ,
        content     ,
        writer      ,
        view_cnt    ,
        notice_yn   ,
        secret_yn   ,
        delete_yn   ,
        insert_time ,
        update_time 
    </sql>
    <sql id="selectColumns">
        idx         ,
        title       ,
        content     ,
        writer      ,
        view_cnt    ,
        notice_yn   ,
        secret_yn   ,
        delete_yn   ,
        insert_time ,
        update_time 
    </sql>
    <insert id="save"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest"
            useGeneratedKeys="true"
            keyProperty="idx" >
        INSERT INTO ENCORE_BOARD_TBL(
            <include refid="selectColumns" />
        )
        VALUES( #{idx},
                #{title},
                #{content},
                #{writer},
                0 ,
                #{noticeYn},
                false,
                false,
                NOW(),
                NULL)
    </insert>

    <select id="findByIdx" 
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest"
            resultType="com.example.encore_spring_pjt.domain.BoardResponse"> 
        SELECT  
            <include refid="selectColumns" /> 
        FROM    
            ENCORE_BOARD_TBL 
        WHERE   
            IDX = #{idx}   
    </select>
    
    <update id="updateByIdx"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        UPDATE ENCORE_BOARD_TBL 
        SET 
            UPDATE_TIME = NOW(),
            TITLE       = #{title}, 
            CONTENT     = #{content}, 
            WRITER      = #{writer}
        WHERE 
            IDX = #{idx}
    </update>

    <select id="count"
            parameterType="com.example.encore_spring_pjt.ctrl.board.util.PageDTO"
            resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM    
            ENCORE_BOARD_TBL 
        WHERE 
            DELETE_YN = 0 
            <include refid="search" /> 

    </select>

    <delete id="deleteByIdx"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        UPDATE ENCORE_BOARD_TBL 
        SET 
            DELETE_YN   = 1 ,
            DELETE_TIME = NOW() 
        WHERE 
            IDX = #{idx} 
    </delete>

    <!-- Dynamic Query 
    <if test="condition">query</if>
    <choose>
        <when test=""></when>
        <when test=""></when>
        <otherwise></otherwise>
    </choose>    
    -->
    <sql id="search">
        <!-- 검색 조건이 있을 때 -->
        <if test="keyword != null">
            <choose>
                <!-- 검색타입이 있을 때 --> 
                <when test="'title'.equals(searchType)">
                    AND TITLE LIKE CONCAT('%',#{keyword},'%')             
                </when>
                <when test="'writer'.equals(searchType)">
                    AND WRITER LIKE CONCAT('%',#{keyword},'%')                 
                </when>
                <when test="'content'.equals(searchType)">
                    AND CONTENT LIKE CONCAT('%',#{keyword},'%')                 
                </when>
                <!-- 조건이 전체일때 -->
                <otherwise>
                    AND(
                        TITLE LIKE CONCAT('%',#{keyword},'%') 
                        OR
                        WRITER LIKE CONCAT('%',#{keyword},'%')       
                        OR 
                        CONTENT LIKE CONCAT('%',#{keyword},'%')  
                    )
                </otherwise>    
            </choose>
        </if>
    </sql>    
    <select id="findAll"
            parameterType="com.example.encore_spring_pjt.ctrl.board.util.PageDTO"
            resultType="com.example.encore_spring_pjt.domain.BoardResponse">
        
        SELECT  
            <include refid="selectColumns" /> 
        FROM    
            ENCORE_BOARD_TBL 
        WHERE
            DELETE_YN = 0 
            <include refid="search" /> 
        ORDER BY 
            IDX DESC 
        LIMIT #{pagination.limitStart} , #{recordSize} 
        
    </select>

    <update id="updateByCnt"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        UPDATE 
            ENCORE_BOARD_TBL 
        SET 
            VIEW_CNT = VIEW_CNT + 1 
        WHERE 
            IDX = #{idx} 
    </update>
</mapper>
